*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Inter',sans-serif;

}

body{

background:var(--bg);

color:var(--text);

overflow-x:hidden;

}

.layout{

display:flex;

min-height:100vh;

}

.sidebar{

width:260px;

background:#09101D;

border-right:1px solid var(--border);

display:flex;

flex-direction:column;

justify-content:space-between;

padding:30px;

position:fixed;

height:100vh;

}

.logo{

display:flex;

align-items:center;

gap:15px;

margin-bottom:50px;

}

.logo h2{

font-size:24px;

}

.logo p{

font-size:13px;

color:var(--muted);

}

.shield{

font-size:30px;

}

nav{

display:flex;

flex-direction:column;

gap:12px;

}

nav a,
.coming{

display:flex;

align-items:center;

gap:12px;

padding:14px;

border-radius:12px;

text-decoration:none;

color:var(--muted);

transition:var(--transition);

cursor:pointer;

}

nav a:hover{

background:rgba(30,167,255,.15);

color:white;

transform:translateX(6px);

}

.coming{

opacity:.4;

}

.status{

padding:15px;

border-radius:12px;

background:rgba(255,255,255,.03);

display:flex;

align-items:center;

gap:10px;

}

.online{

width:10px;

height:10px;

background:#22C55E;

border-radius:50%;

box-shadow:0 0 15px #22C55E;

}

.content{

margin-left:260px;

width:calc(100% - 260px);

padding:60px;

position:relative;

z-index:5;

}